/* first section style */

.first_section_main{
  height: auto;
  width: 100%;
  background-color: orangered;
  background-image: 
  url('https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/testing/seo-home/Veggies_new.png'),
  url('https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/testing/seo-home/Sushi_replace.png') ;
  background-repeat: no-repeat,no-repeat ;
  background-size: 300px;
  background-position: left center,right center;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.first-navbar-section{
  margin-top: 1%;
  height: 100px;
  width: 80%;
  /* background-color: yellow; */
  display: flex;
}

.first-navbar-left{
  flex: 1;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  display: flex;


}

.first-navbar-right{
  flex: 1;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.first-navbar-right-content{
  font-size: 18px;
  color: white;
  font-family: Gilroy;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.6px;
}

.first-navbar-get-btn{
  height: 60px;
  width: 160px;
  background-color: black;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  padding-right: 15px;

  

}

.get-btn{
  font-size: 30px;
  position: absolute;
  right: 3%;
  top: 25%;
}

.first-navbar-signin-btn{
  height: 60px;
  width: 160px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  
}

/* first content section */
.first-content-section{
  padding-top: 10%;
  height: auto;
  width: 70%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;


}

.first-content-heading{
  width: 70%;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Gilroy, arial, Helvetica Neue, sans-serif;
}

.first-content-input-section{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 5%;
  position: relative;
  position: relative;
  position: relative;


}

.first-content-location{
  all: unset;
  height: 60px;
  width: 37%;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(68, 68, 68);
  font-size: 18px;
  font-weight: 520;
  font-family: Gilroy, arial, Helvetica Neue, sans-serif;
  border-radius: 20px;

}

.location-icon-first{
  position: absolute;
  top: 26%;
  left: 2%;
  font-size: 30px;
  color: orangered;


}

.down-arrow-first{
  position: absolute;
  font-size: 30px;
  top: 27%;
  left: 34.5%;
  color: black;

}

.first-content-search{
  all: unset;
  height: 60px;
  width: 55%;
  border-radius: 20px;
  font-size: 22px;
  padding-left: 20px;
  background: white;

}

.search-icon-first{
  position: absolute;
  font-size: 25px;
  top: 29%;
  left: 89%;

}

/* first-last-section */

.first-last-section{
  height: auto;
  width: 80%;
  /* background-color: yellow; */
}


/* second-section-main */

.second-section-main{
  height: auto;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.second-inner{
  height: 100%;
  width: 80%;
  /* background-color: red; */
}